wipo-shared/wipo-connect-service-client/src/main/java/META-INF/wsdl/interested_party/interestedParty-response-output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://response.interestedParty.connect.wipo.org" xmlns:common-output="http://output.common.connect.wipo.org"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://response.interestedParty.connect.wipo.org">

	<xsd:import namespace="http://output.common.connect.wipo.org" schemaLocation="../common-output.xsd" />

	<!-- getInterestedPartyList operation Response element -->
	<xsd:element name="IpLookupResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="interestedPartyListResponse" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<!-- General information -->
							<xsd:element name="idInterestedParty" type="xsd:long" />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="identifierList" nillable="false" type="FlatType"  />
							<xsd:element name="statusCode" type="xsd:string" />
							<xsd:element name="birthFoundationDate" type="xsd:date" />
							<xsd:element name="type" type="xsd:string" />
							<!-- Name -->
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="nameList" nillable="false" type="IpNamesType" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="affiliatedCmos" type="xsd:string" />
							<xsd:element name="birthCountryCode" type="xsd:string" />
							<xsd:element name="mainId" type="xsd:string" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="creationClassCodeList" nillable="true" type="xsd:string" />
							<xsd:element name="score" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- getInterestedPartyDetails operation Response element -->
		<xsd:element name="IpDetailsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element  name="ipResponse" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<!-- General information -->
							<xsd:element name="idInterestedParty" type="xsd:long" />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="identifierList" nillable="false" type="FlatType"  />
							<xsd:element name="statusCode" type="xsd:string" />
							<xsd:element name="birthFoundationDate" type="xsd:date" />
							<xsd:element name="deathDate" type="xsd:date" />
							<xsd:element name="gender" type="xsd:string" />
							<xsd:element name="maritalStatus" type="xsd:string" />
							<xsd:element name="type" type="xsd:string" />
							<xsd:element name="birthPlace" type="xsd:string" />
							<xsd:element name="birthCountryCode" type="xsd:string" />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="citizenshipCodeList" nillable="false" type="xsd:string"  />
							<xsd:element name="amendmentTimestemp" type="xsd:dateTime" />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="nameList" nillable="false" type="IpNamesType" />
							<xsd:element name="birthState" type="xsd:string" />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="affiliationList" nillable="false" type="AffiliationType" />
							<xsd:element name="isAffiliated" type="xsd:boolean" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="affiliatedCmos" type="xsd:string" />
							<xsd:element name="dateUpdate" type="xsd:date" />
							<xsd:element name="creationDate" type="xsd:date" />
							<xsd:element name="mainId" type="xsd:string" />
							<xsd:element name="syncVersion" type="xsd:long" />

						 	<xsd:element minOccurs="1" maxOccurs="unbounded" name="creationClassCodeList" nillable="false" type="xsd:string" />
								<!--<xsd:element minOccurs="1" maxOccurs="unbounded" name="addressList" nillable="false" type="AddressType" />
							<xsd:element minOccurs="1" maxOccurs="1" name="bankAccount" nillable="false" type="BankAccountType" /> -->
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IpNamesType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="firstName" type="xsd:string" />
			<xsd:element name="nameType" type="xsd:string" />
			<xsd:element name="mainId" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FlatType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" />
			<xsd:element name="value" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AffiliationType">
		<xsd:sequence>
			<xsd:element name="cmoCode" type="xsd:string" />
			<xsd:element name="territoryFormula" type="xsd:string" />
			<xsd:element name="startDate" type="xsd:date" />
			<xsd:element name="endDate" type="xsd:date" />
			<xsd:element name="shareValue" type="xsd:decimal" />
			<xsd:element name="signatureDate" type="xsd:date" />
			<xsd:element name="amendmentTimestemp" type="xsd:dateTime" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="affiliationDomainList" nillable="false" type="AffiliationDomainType"  />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AffiliationDomainType">
		<xsd:sequence>
			<xsd:element name="ipiRightTypeCode" type="xsd:string" />
			<xsd:element name="creationClassCode" type="xsd:string" />
			<xsd:element name="ipiRoleCode" type="xsd:string" />
			<xsd:element name="isExcluded" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- internationallyRegister operation Response element -->
	<xsd:element name="InternationallyRegisterResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element  name="ipResponse" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="registrationAck" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- internationallyRegister elaboration Response element -->
	<xsd:element name="IRElaborationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elaborationResponse" minOccurs="0" maxOccurs="unbounded" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" name="fkInterestedParty" nillable="false" type="xsd:long" />
							<xsd:element minOccurs="0" name="progr" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="1" name="itemStatus" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="1" name="itemCode" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="0" name="responseStatus" nillable="false" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	 <xsd:complexType name="CreationClassType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="example" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="NameLookupResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="nameListResponse" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<!-- General information -->
							<xsd:element name="idName" type="xsd:long" />
							<xsd:element name="name" type="xsd:string" />
							<xsd:element name="firstName" type="xsd:string" />
							<xsd:element name="nameType" type="xsd:string" />
							<xsd:element name="statusCode" type="xsd:string" />
							<xsd:element name="mainId" type="xsd:string" />
							<xsd:element name="sourceType" type="xsd:string" />
							<xsd:element name="birthDate" type="xsd:date" />
							<xsd:element name="type" type="xsd:string" />
							<xsd:element name="ipMainId" type="xsd:string" />
							<xsd:element name="ipId" type="xsd:long" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="affiliatedCmos" type="xsd:string" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="creationClassCodeList" nillable="true" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
