wipo-shared/wipo-connect-service-client/src/main/java/META-INF/wsdl/interested_party/interestedPartyService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://interestedPartyService.interestedParty.connect.wipo.org" targetNamespace="http://interestedPartyService.interestedParty.connect.wipo.org"
	xmlns:input="http://request.interestedParty.connect.wipo.org" xmlns:output="http://response.interestedParty.connect.wipo.org">

	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import 	namespace="http://response.interestedParty.connect.wipo.org" schemaLocation="interestedParty-response-output.xsd" />
			<xs:import 	namespace="http://request.interestedParty.connect.wipo.org" schemaLocation="interestedParty-request-input.xsd" />
		</xs:schema>
	</wsdl:types>

	<!-- Message for getInterestedPartyList operation  -->
	<wsdl:message name="InterestedPartyLookupRequest">
		<wsdl:part element="input:IpLookupRequest" name="InterestedPartyLookupRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="InterestedPartyLookupResponse">
		<wsdl:part element="output:IpLookupResponse" name="InterestedPartyLookupResponse"></wsdl:part>
	</wsdl:message>

	<!-- Message for getInterestedPartyDetails operation  -->
	<wsdl:message name="InterestedPartyDetailsRequest">
		<wsdl:part element="input:IpDetailsRequest" name="InterestedPartyDetailsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="InterestedPartyDetailsResponse">
		<wsdl:part element="output:IpDetailsResponse" name="InterestedPartyDetailsResponse"></wsdl:part>
	</wsdl:message>

	<!-- Message for InternationallyRegister operation  -->
	<wsdl:message name="IpInternationallyRegisterRequest">
		<wsdl:part element="input:InternationallyRegisterRequest" name="IpInterestedPartyDetailsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="IpInternationallyRegisterResponse">
		<wsdl:part element="output:InternationallyRegisterResponse" name="IpInterestedPartyDetailsResponse"></wsdl:part>
	</wsdl:message>

	<!-- Message for InternationallyRegister operation  -->
	<wsdl:message name="ElaborationResultRequest">
		<wsdl:part element="input:IRElaborationRequest" name="ElaborationResultRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ElaborationResultResponse">
		<wsdl:part element="output:IRElaborationResponse" name="IRElaborationResponse"></wsdl:part>
	</wsdl:message>
	
	<!-- Message for Name lookup operation  -->
	<wsdl:message name="RightOwnerNameLookupRequest">
		<wsdl:part element="input:NameLookupRequest" name="RoNameLookupRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="RightOwnerNameLookupResponse">
		<wsdl:part element="output:NameLookupResponse" name="RoNameLookupResponse"></wsdl:part>
	</wsdl:message>
	

	<wsdl:portType name="InterestedPartyServicePort">
		<wsdl:operation name="getInterestedPartyList">
			<wsdl:input message="tns:InterestedPartyLookupRequest" name="InterestedPartyLookupRequestInput"></wsdl:input>
			<wsdl:output message="tns:InterestedPartyLookupResponse" name="InterestedPartyLookupResponseOutput"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getInterestedPartyDetails">
			<wsdl:input message="tns:InterestedPartyDetailsRequest" name="InterestedPartyDetailsRequestInput"></wsdl:input>
			<wsdl:output message="tns:InterestedPartyDetailsResponse" name="InterestedPartyDetailsResponseOutput"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerInternationally">
			<wsdl:input message="tns:IpInternationallyRegisterRequest" name="IpInterestedPartyDetailsRequestInput"></wsdl:input>
			<wsdl:output message="tns:IpInternationallyRegisterResponse" name="IpInterestedPartyDetailsResponseOutput"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getElaborationResult">
			<wsdl:input message="tns:ElaborationResultRequest" name="ElaborationResultRequestInput"></wsdl:input>
			<wsdl:output message="tns:ElaborationResultResponse" name="ElaborationResultResponseOutput"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNameList">
			<wsdl:input message="tns:RightOwnerNameLookupRequest" name="RightOwnerNameLookupRequestInput"></wsdl:input>
			<wsdl:output message="tns:RightOwnerNameLookupResponse" name="RightOwnerNameLookupResponseOutput"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="InterestedPartyServiceBinding" type="tns:InterestedPartyServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="getInterestedPartyList">
			<soap:operation
				soapAction="http://interestedPartyService.connect.wipo.org/InterestedPartyService/getInterestedPartyList" />
			<wsdl:input name="InterestedPartyLookupRequestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="InterestedPartyLookupResponseOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getInterestedPartyDetails">
			<soap:operation
				soapAction="http://interestedPartyService.connect.wipo.org/InterestedPartyService/getInterestedPartyDetails" />
			<wsdl:input name="InterestedPartyDetailsRequestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="InterestedPartyDetailsResponseOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="registerInternationally">
			<soap:operation
				soapAction="http://interestedPartyService.connect.wipo.org/InterestedPartyService/registerInternationally" />
			<wsdl:input name="IpInterestedPartyDetailsRequestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="IpInterestedPartyDetailsResponseOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getElaborationResult">
			<soap:operation
				soapAction="http://interestedPartyService.connect.wipo.org/InterestedPartyService/getElaborationResult" />
			<wsdl:input name="ElaborationResultRequestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="ElaborationResultResponseOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getNameList">
			<soap:operation
				soapAction="http://interestedPartyService.connect.wipo.org/InterestedPartyService/getNameList" />
			<wsdl:input name="RightOwnerNameLookupRequestInput">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="RightOwnerNameLookupResponseOutput">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="InterestedPartyService">
		<wsdl:port binding="tns:InterestedPartyServiceBinding" name="InterestedPartyServicePortBinding">
			<soap:address location="REPLACE_WITH_ACTUAL_URL" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>