wipo-shared/wipo-connect-service-client/src/main/java/META-INF/wsdl/common-input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://input.common.connect.wipo.org" attributeFormDefault="unqualified"
	elementFormDefault="qualified" targetNamespace="http://input.common.connect.wipo.org">

	<xsd:complexType name="ContextType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="requestId" type="xsd:string" />
			<xsd:element minOccurs="0" name="requestTimestemp" type="xsd:dateTime" />
			<xsd:element minOccurs="0" name="clientId" type="xsd:string" />
			<xsd:element minOccurs="0" name="clientKey" type="xsd:string" />
			<xsd:element minOccurs="0" maxOccurs="unbounded" name="managedCreationClassCodeList" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>


</xsd:schema>
