wipo-shared/wipo-connect-service-client/src/main/java/META-INF/wsdl/work/work-response-output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://response.work.connect.wipo.org" xmlns:common-output="http://output.common.connect.wipo.org"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://response.work.connect.wipo.org">

	<xsd:import namespace="http://output.common.connect.wipo.org" schemaLocation="../common-output.xsd" />

	<!-- getWorkList operation Response element -->

	<xsd:element name="WorkListResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="workResponse" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idWork" type="xsd:long" />
							<xsd:element name="registrationDate" type="xsd:date" />
							<xsd:element name="statusCode" type="xsd:string" />
							<xsd:element name="domain" type="xsd:string" />

							<xsd:element minOccurs="1" maxOccurs="unbounded" name="titleList" nillable="false" type="TitleType"  />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="identifierList" nillable="false" type="FlatType"  />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="derivedViewList" nillable="false" type="DerivedViewType"  />
							<xsd:element name="mainId" type="xsd:string" />
							<xsd:element name="creationClassCode" type="xsd:string" />
							<xsd:element name="catalogueNumber" type="xsd:string" />
							<xsd:element name="label" type="xsd:string" />
							<xsd:element name="countryOfProductionCode" type="xsd:string" />
							<xsd:element name="creationClassCode" type="xsd:string" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="workDateList" nillable="false" type="WorkDateType"  />
							<xsd:element name="score" type="xsd:decimal" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="FlatType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" />
			<xsd:element name="value" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="WorkDateType">
		<xsd:sequence>
			<xsd:element name="dateTypeCode" type="xsd:string" />
			<xsd:element name="dateValue" type="xsd:date" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TitleType">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="typeCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>


	<!-- getWorkDetails operation Response element -->
	<xsd:element name="WorkDetailResponse">
		<xsd:complexType >
			<xsd:sequence>
				<xsd:element  name="workResponse" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<!-- General information -->
							<xsd:element name="idWork" type="xsd:long" />
							<xsd:element name="duration" type="xsd:long" nillable="true" />
							<xsd:element name="statusCode" type="xsd:string" />
							<xsd:element name="genreCode" type="xsd:string" nillable="true" />
							<xsd:element name="typeCode" type="xsd:string" nillable="true" />
							<xsd:element name="domain" type="xsd:string" />
							<xsd:element name="releaseDate" type="xsd:dateTime" nillable="true" />
							<xsd:element name="registrationDate" type="xsd:dateTime" nillable="true" />
							<xsd:element name="workCreationDate" type="xsd:dateTime" nillable="true" />
							<xsd:element name="sourceTypeCode" type="xsd:string" nillable="true" />
							<xsd:element name="domesticWork" type="xsd:boolean" nillable="true" />
							<xsd:element name="lastUpdateDate" type="xsd:dateTime" nillable="true" />
							<xsd:element name="excerptTypeCode" type="xsd:string" nillable="true" />
							<xsd:element name="compositeTypeCode" type="xsd:string" nillable="true" />
							<xsd:element name="creationClassCode" type="xsd:string" />
							<xsd:element name="componentPerc" type="xsd:decimal" />
							<xsd:element name="catalogueNumber" type="xsd:string" />
							<xsd:element name="label" type="xsd:string" />
							<xsd:element name="countryOfProductionCode" type="xsd:string" />
							<xsd:element name="categoryCode" type="xsd:string" />
							<xsd:element name="support" type="xsd:string" />
							<xsd:element name="language" type="xsd:string" />
							<xsd:element name="cmoOriginCode" type="xsd:string" />
							<xsd:element name="syncVersion" type="xsd:long" />

							<xsd:element minOccurs="0" maxOccurs="unbounded" name="workDateList" nillable="false" type="WorkDateType"  />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="workPerformerList" nillable="false" type="WorkPerformer" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="derivedWorkList" nillable="false" type="DerivedWork" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="derivedWorkParentList" nillable="false" type="DerivedWork" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="instrumentCodeList" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="identifierList" nillable="false" type="FlatType"  />
							<xsd:element minOccurs="1" maxOccurs="unbounded" name="titleList" nillable="false" type="TitleType"  />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="derivedViewList" nillable="false" type="DerivedViewType"  />
							<xsd:element name="mainId" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="WorkPerformer">
		<xsd:sequence>
			<xsd:element name="performerName" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedWork">
		<xsd:sequence>
			<xsd:element name="sharedMainId" type="xsd:string" />
			<xsd:element name="weight" type="xsd:long" />
			<xsd:element name="trackNumber" type="xsd:long" />
			<xsd:element name="domain" type="xsd:string" />
			<xsd:element name="sharedId" type="xsd:long" />
			<xsd:element name="sharedOt" type="xsd:string" />
			<xsd:element name="sharedClass" type="xsd:string" />
			<xsd:element name="sharedRo" type="xsd:string" />
			<xsd:element name="sharedIdentifier" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedViewType">
		<xsd:sequence>
			<xsd:element name="startDate" type="xsd:date" />
			<xsd:element name="endDate" type="xsd:date" />
			<xsd:element name="territoryFormula" nillable="false" type="xsd:string" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="derivedViewNameList" nillable="false" type="DerivedViewNameList" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedViewNameList">
		<xsd:sequence>
			<xsd:element name="roleCode" type="xsd:string" />
			<xsd:element name="name" type="NameType" />
			<xsd:element nillable="true" name="refIndex" type="xsd:long" />
			<xsd:element nillable="true" name="creatorRefIndex" type="xsd:long" />
			<xsd:element nillable="true" name="sourceTypeCode" type="xsd:string" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="derivedViewNameShareList" type="DerivedViewNameShare" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedViewNameShare">
		<xsd:sequence>
			<xsd:element name="rightTypeCode" type="xsd:string" />
			<xsd:element name="shareValue" type="xsd:decimal" />

			<xsd:element nillable="true" name="cmoCode" type="xsd:string" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="cmoList" nillable="false" type="Cmo" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Cmo">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NameType">
		<xsd:sequence>
			<xsd:element name="idName" type="xsd:long" />
			<xsd:element name="mainId" type="xsd:string" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="firstName" type="xsd:string" />
			<xsd:element name="nameType" type="xsd:string" />
			<xsd:element name="creationTimestamp" type="xsd:dateTime" />
			<xsd:element name="amendmentTimestemp" type="xsd:dateTime" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Work Sync Element  -->
	<xsd:element name="InternationallyRegisterResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="workResponse" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="registrationAck" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="IRWorkElaborationResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="elaborationResponse" minOccurs="0" maxOccurs="unbounded" nillable="true">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" name="itemCode" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="1" name="taskStatus" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="0" name="csiStatus" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="0" name="sharedWorkId" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="0" name="sharedWorkMainId" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="0" name="workResponseStatus" nillable="false" type="xsd:string" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element minOccurs="0" name="Error" nillable="false" type="common-output:ErrorType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>
