wipo-shared/wipo-connect-service-client/src/main/java/META-INF/wsdl/work/work-request-input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://request.work.connect.wipo.org" attributeFormDefault="unqualified"
			xmlns:common-input="http://input.common.connect.wipo.org"
			elementFormDefault="qualified" targetNamespace="http://request.work.connect.wipo.org">

	<xsd:import namespace="http://input.common.connect.wipo.org" schemaLocation="../common-input.xsd" />

	<xsd:element name="WorkListRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" name="context" nillable="false" type="common-input:ContextType" />
				<xsd:element minOccurs="1" name="workRequest" nillable="false">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="identifier" type="xsd:string" />
							<xsd:element name="onlyMainId" type="xsd:boolean" />
							<xsd:element name="title" type="xsd:string" />
							<xsd:element name="statusCode" type="xsd:string" />
							<xsd:element name="originalTitles" type="xsd:boolean" />
							<xsd:element name="sourceType" type="xsd:string" />
							<xsd:element name="workType" type="xsd:string" />
							<xsd:element name="registrationDate" type="xsd:dateTime" />
							<xsd:element name="performer" type="xsd:string" />
							<xsd:element name="fullText" type="xsd:string" />
							<xsd:element name="catalogueNumber" type="xsd:string" />
							<xsd:element name="countryOfProductionCode" type="xsd:string" />
							<xsd:element name="categoryCode" type="xsd:string" />
							<xsd:element name="label" type="xsd:string" />
							<xsd:element name="dateTypeCode" type="xsd:string" />
							<xsd:element name="dateValue" type="xsd:dateTime" />
							<xsd:element name="wipoLocalId" type="xsd:string" />
							<xsd:element name="originalTitleTrimmed" type="xsd:string" />
							<xsd:element name="paginationStart" type="xsd:integer" />
							<xsd:element name="paginationLength" type="xsd:integer" />
							<xsd:element name="paginationDraw" type="xsd:integer" />
							<xsd:element name="orderByExpression" type="xsd:integer" />
							<xsd:element name="isSimpleSearch" type="xsd:boolean" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="rightOwnerList" nillable="false" type="RightOwnerType" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="rightOwnerListSearch" nillable="false" type="RightOwnerVO" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="creationClassCodeList" nillable="true" type="xsd:string" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="identifierSearchVOList" nillable="true" type="IdentifierType" />
							<xsd:element minOccurs="0" maxOccurs="unbounded" name="idToExcludeList" nillable="true" type="xsd:long" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="RightOwnerType">
		<xsd:sequence>
			<xsd:element name="ipin" type="xsd:string" />
			<xsd:element name="roleCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RightOwnerVO">
		<xsd:sequence>
			<xsd:element name="rightOwnerValue" type="xsd:string" />
			<xsd:element name="nameMainId " type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="IdentifierType">
		<xsd:sequence>
			<xsd:element name="type" type="xsd:string" />
			<xsd:element name="value" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="WorkDetailRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" name="context" nillable="false" type="common-input:ContextType" />
				<xsd:element minOccurs="1" name="workRequest" nillable="false">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="idWork" type="xsd:long" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- Work Sync Element  -->
	<xsd:element name="InternationallyRegisterRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" name="context" nillable="false" type="common-input:ContextType" />
				<xsd:element minOccurs="1" name="taskCode" nillable="false" type="xsd:string" />
				<xsd:element minOccurs="1" maxOccurs="unbounded" name="taskItemRequest" nillable="false">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element minOccurs="1" name="progr" nillable="false" type="xsd:long" />
							<xsd:element minOccurs="1" name="itemCode" nillable="false" type="xsd:string" />
							<xsd:element minOccurs="1" maxOccurs="1" name="workTaskDetail" nillable="false">
								<xsd:complexType>
									<xsd:sequence>
										<!-- General information -->
										<xsd:element name="idWork" type="xsd:long" />
										<xsd:element name="duration" type="xsd:long" nillable="true" />
										<xsd:element name="genreCode" type="xsd:string" nillable="true" />
										<xsd:element name="typeCode" type="xsd:string" nillable="true" />
										<xsd:element name="releaseDate" type="xsd:dateTime" nillable="true" />
										<xsd:element name="registrationDate" type="xsd:dateTime" nillable="true" />
										<xsd:element name="workCreationDate" type="xsd:dateTime" nillable="true" />
										<xsd:element name="sourceTypeCode" type="xsd:string" nillable="true" />
										<xsd:element name="domesticWork" type="xsd:boolean" nillable="true" />
										<xsd:element name="excerptTypeCode" type="xsd:string" nillable="true" />
										<xsd:element name="compositeTypeCode" type="xsd:string" nillable="true" />

										<xsd:element minOccurs="0" maxOccurs="unbounded" name="workPerformerList" nillable="false" type="WorkPerformer" />
										<xsd:element minOccurs="0" maxOccurs="unbounded" name="derivedWorkList" nillable="false" type="DerivedWork" />
										<xsd:element minOccurs="0" maxOccurs="unbounded" name="instrumentCodeList" nillable="false" type="xsd:string" />
										<xsd:element minOccurs="1" maxOccurs="unbounded" name="identifierList" nillable="false" type="FlatType"  />
										<xsd:element minOccurs="1" maxOccurs="unbounded" name="titleList" nillable="false" type="TitleType"  />
										<xsd:element minOccurs="0" maxOccurs="unbounded" name="derivedViewList" nillable="false" type="DerivedViewType"  />
										<xsd:element name="mainId" type="xsd:string" nillable="true" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>

						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="WorkPerformer">
		<xsd:sequence>
			<xsd:element name="performerName" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedWork">
		<xsd:sequence>
			<xsd:element name="sharedMainId" type="xsd:string" />
			<xsd:element name="weight" type="xsd:long" />
			<xsd:element name="trackNumber" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="FlatType">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" />
			<xsd:element name="value" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TitleType">
		<xsd:sequence>
			<xsd:element name="description" type="xsd:string" />
			<xsd:element name="typeCode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedViewType">
		<xsd:sequence>
			<xsd:element name="startDate" type="xsd:date" />
			<xsd:element name="endDate" type="xsd:date" />
			<xsd:element name="territoryFormula" nillable="false" type="xsd:string" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="derivedViewNameList" nillable="false" type="DerivedViewNameList" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedViewNameList">
		<xsd:sequence>
			<xsd:element name="roleCode" type="xsd:string" />
			<xsd:element name="name" type="NameType" />
			<xsd:element nillable="true" name="refIndex" type="xsd:long" />
			<xsd:element nillable="true" name="creatorRefIndex" type="xsd:long" />
			<xsd:element minOccurs="1" maxOccurs="unbounded" name="derivedViewNameShareList" type="DerivedViewNameShare" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DerivedViewNameShare">
		<xsd:sequence>
			<xsd:element name="rightTypeCode" type="xsd:string" />
			<xsd:element name="shareValue" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NameType">
		<xsd:sequence>
			<xsd:element name="idName" type="xsd:long" />
			<xsd:element name="mainId" type="xsd:string" />
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="firstName" type="xsd:string" />
			<xsd:element name="nameType" type="xsd:string" />
			<xsd:element name="creationTimestamp" type="xsd:dateTime" />
			<xsd:element name="amendmentTimestemp" type="xsd:dateTime" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Elaboration result request  -->
	<xsd:element name="IRWorkElaborationRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="1" name="context" nillable="false" type="common-input:ContextType" />
				<xsd:element minOccurs="1" maxOccurs="unbounded" name="itemCodeList" type="xsd:string" nillable="false"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
